$form-width: 40%;

.form { 
  text-align: center;
  @include media($large-screen-up) {
    @include outer-container($form-width); 
  }
  
  .promise-details {

    h2 {
      margin-bottom: -15px;
    }

    p {
      margin-bottom: 0px;
    }

    textarea {
      height: 25%;
    }

    input {
      margin-bottom: 20px;
      margin-left: 5px;
      margin-right: 5px;

      &#promise_date {
        margin: auto;
      }

      &.place_bet {
        min-width: 120px;
      }

      &.verify-promise {
        min-width: 180px;
      }

    }
  }
}

.form-wrapper {
  // @include span-columns();
  @include media($medium-screen-up) {
    @include span-columns(4 of 12);
    @include shift(4);
  }
}

.new-user-form {
  @include media($medium-screen-up) {
    @include span-columns(6 of 12);
    @include shift(3);
  }
}

.form-new-comment {
  text-align: left;
  textarea {
    height: 10%;
    float: left;
    margin-bottom: 20px;
  }

  input {
    width: 120px;
    height: 30px;
    font-size: 12px;
    margin-bottom: 20px;
  }

}