.hero {  
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  // $hero-image: '../images/dishes.jpg';

  // @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  min-height: 400px;
  @include media($medium-screen-up) {
    min-height: 800px;  
  }

  .hero-logo img {
    height: 4em;
    @include media($medium-screen-up) {
      height: 8em;
    }
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 3.5em;
    text-align: center;
    padding-top: 8em;

    .hero-copy {
      text-align: center;
      padding-top: 4em;
      
      h1 {
        color: #efefef;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      h2 {
        background-color: #222;
        display: inline-block;
        padding: .25em 1em;
        color: #efefef;
      }

      p {
        background-color: #222;
        display: inline-block;
        padding: .25em 1em;
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 1em auto; 

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
