.page-body {
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  @include outer-container();
}

.page-article {
  margin-bottom: 2em;
}

.article-header {
  margin-top: 1.5em;
}

.comments-header {
  font-size: 0.7em;
}

/* Layout Helpers */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}