.page-body {
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  @include outer-container();
}

.page-article {
  margin-bottom: 2em;
}

.article-header {
  margin-top: 1.5em;
}

/* Layout Helpers */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.hide-mobile {
  display: none; 
}

.features {
  @include outer-container;
}

.feature-box {
  @include span-columns(4);
  @include omega(3n);
  text-align: center;
  h2 {
    font-size: 6em;
    font-style: italic;
    font-weight: 600;
    color: $red;
    margin-bottom: 0;    
  }
}

.feature-copy {
  @include span-columns(12);
  margin-top: 1.5em;
  padding: .25em 0;
  font-size: 1.5em;
  background-color: $red;
  display: inline-block;
  color: $yellow;
}