  <footer class="footer page-footer" role="contentinfo">
    <div class="footer-logo">
      <img src="/images/small-logo.png" alt="Logo image">
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="/promises">Current Promises</a></li>
        <li><a href="/users">Our Users</a></li>
        <% if @current_user %>
          <li><a href="/promise/new">New Promise</a></li>
        <% else %>
          <li><a href="/promise/new">Signup</a></li>
          <li><a href="/promise/new">Login</a></li>
        <% end %>
      </ul>
      <ul>
        <li><a href="javascript:void(0)">About Us</a></li>
        <li><a href="javascript:void(0)">Twitter</a></li>
      </ul>
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>
    </div>

    <hr>

    <p>We will not be help responsible for broken relationship and/or destroyed friendships.</p>
  </footer>