<li class="tab-header-and-content">

  <a href="javascript:void(0)" class="tab-link">
    Following
  </a>

  <div class="tab-content">

    <div class="vertical-tabs-container">

      <div class="vertical-tabs">
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab7">All Activity</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab8">Promises</a>
        <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab9">Bets</a>
      </div>

      <div class="vertical-tab-content-container">
        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab7">All Activity</a>
        <div id="tab7" class="js-vertical-tab-content vertical-tab-content">
          <% if @user.friends.empty? %> <!-- USER NOT FOLLOWING ANYONE -->
            <p>You aren't following anyone! </p>
            <p><a href="/users">Find someone to follow! </a></p>
          <% else %> <!-- SHOW ACTIVITY -->
            <%= erb :'/partials/profile_following_activity_all' %>
          <% end %>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab8">Promises</a>
        <div id="tab8" class="js-vertical-tab-content vertical-tab-content">
          <% if @user.friends.empty? %> <!-- USER NOT FOLLOWING ANYONE -->
            <p>You aren't following anyone! </p>
            <p><a href="/users">Find someone to follow! </a></p>
          <% else %> <!-- SHOW ACTIVITY - BETS -->
            <%= erb :'/partials/profile_following_activity_bets' %>   
          <% end %>
        </div>

        <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab9">Bets</a>
        <div id="tab9" class="js-vertical-tab-content vertical-tab-content">
          <% if @user.friends.empty? %> <!-- USER NOT FOLLOWING ANYONE -->
            <% if @pronoun == 'You' %>
              <p>You haven't lost any bets! </p>
              <p><a href="/promises">Make a bet! </a></p>
            <% else %>
              <p><%= @pronoun %> hasn't lost any bets! </p>
            <% end %>
          <% else %> <!-- SHOW ACTIVITY - BETS -->
            <%= erb :'/partials/profile_following_activity_promises' %>
          <% end %> 
        </div>

      </div>
    </div>

  </div>
</li>