<% @user.promises_broken.each do |promise| %>

  <% @promise = promise %> <!-- For use in partials -->

  <div class="promise-profile">

    <!-- Promise Details -->
    <div class="promise-content-profile">
      <h1><%= @pronoun %> promised to..</h1>
      <a href='promises/<%= promise.id %>'><p><%= promise.content %></p></a>
    </div>

    <!-- Promise Status -->
    <%= erb :'/partials/validated_promise_result' %>
    
  </div>

<% end %> <!-- end each loop -->