<div class="modal">
  <label for="modal-1">
    <div class="flash-alert">
      <div class="modal-trigger">Validate your promise!</div>
    </div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
      <h1>Did you keep your promise?</h1>
      <form method="post" action="/promises/<%= @promise.id %>/validate">
        <input class="verify-promise" type="submit" name="yes" value="Promise Kept">
        <input class="verify-promise" type="submit" name="no" value="Promise Not Kept">
      </form>
    </div>
  </div>
</div>