<% if @promise.validated %> <!-- Promise kept -->
    <div class="flash-success"><%= @flash_success %>Promise kept!</div>
<% else %> <!-- Screwed up -->
  <% @promise.user == @current_user ? name = "You" : name = "#{@promise.user.first_name}" %>
  <div class="flash-error"><%= name %> screwed up!</div>
<% end %>