<section class="page-body">
  
  <article class="container page-article">

    <header class="article-header profile-header">
      <h1>Signup</h1>
    </header>

    <section class="article-body">

      <%= erb :'partials/flash_message_error' %>

      <form method="POST" action="/signup" class='new-user-form'>
        <div>
          <label class='sr-only' for='first_name'>First Name: </label>
          <input type="text" name='first_name' id='first_name' placeholder='First Name' value='<%= @user.first_name if @user %>'>
        </div>

        <div>
          <label class='sr-only' for='last_name'>Last Name: </label>
          <input type='text' name='last_name' id='last_name' placeholder='Last Name'>
        </div>

        <div>
          <label class='sr-only' for='email'>Email: </label>
          <input type='text' name='email' id='email' placeholder='Email Address'>
        </div>

        <div>
          <label class='sr-only' for='password'>Password: </label>
          <input type='password' name='password' id='password' placeholder='Password'>
        </div>

        <div>
          <label class='sr-only' for='pass_conf'>Confirm password: </label>
          <input type='password' name='pass_conf' id='pass_conf' placeholder='Confirm Password'>
        </div>

        <input type='submit' value='submit'>
      </form>
    </section>

    <footer class="article-body">
      
    </footer>

  </article>
</section>