<section class="page-body">
  
  <article class="container page-article">

    <header class="article-header profile-header">
      <div class="profile-details">
        <h1>Some Username</h1>
        <h2>Active since March, 2011</h2>
        <p>Overall Score: -7<br>
        Points: 50</p>
      </div>

      <div class="container">
        <div class="profile-score profile-score-up">
          5
        </div>

        <div class="profile-image-container">
          <img src="http://placehold.it/400x400" class='profile-image profile-image-large'>  
        </div>

        <div class="profile-score profile-score-down">
          12
        </div>
      </div>

        <div class="profile-history">
          
        </div>
      </div>
      
    </header>

    <section class="article-footer">

      <h2>Your Activity</h2>
      <ul class="accordion-tabs">
        <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="is-active tab-link">Your Promises</a>
          <div class="tab-content">


            <div class="promise">
              <div class="promise-image">
                <img src="http://placehold.it/400x400" alt="Logo image">
              </div>
              <div class="promise-content">
                <a href='details/index.html'><h1>You promised...</h1></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="promise-detail">Expires in 13 hours!</p>
              </div>
            </div>

            <div class="promise">
              <div class="promise-image">
                <img src="http://placehold.it/400x400" alt="Logo image">
              </div>
              <div class="promise-content">
                <a href='details/index.html'><h1>You promised...</h1></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="promise-detail">Expires in 13 hours!</p>
              </div>
            </div>

            <div class="promise">
              <div class="promise-image">
                <img src="http://placehold.it/400x400" alt="Logo image">
              </div>
              <div class="promise-content">
                <a href='1/index.html'><h1>You promised...</h1></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="promise-detail">Expires in 13 hours!</p>
              </div>
            </div>


          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">Your Bets</a>
          <div class="tab-content">
  

            <div class="promise">
              <div class="promise-image">
                <img src="http://placehold.it/400x400" alt="Logo image">
              </div>
              <div class="promise-content">
                <a href='details/index.html'<h1>Some Person has promised...</h1></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="promise-detail">You bet 150 points that Some Person would screw-up!</p>
              </div>
            </div>

            <div class="promise">
              <div class="promise-image">
                <img src="http://placehold.it/400x400" alt="Logo image">
              </div>
              <div class="promise-content">
                <a href='details/index.html'<h1>Some Person has promised...</h1></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="promise-detail">You bet 150 points that Some Person would screw-up!</p>
              </div>
            </div>

            <div class="promise">
              <div class="promise-image">
                <img src="http://placehold.it/400x400" alt="Logo image">
              </div>
              <div class="promise-content">
                <a href='details/index.html'<h1>Some Person has promised...</h1></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="promise-detail">You bet 150 points that Some Person would screw-up!</p>
              </div>
            </div>  


          </div>
        </li>
        <!-- <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">What people are saying</a>
          <div class="tab-content">
            <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">What you're saying</a>
          <div class="tab-content">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
          </div>
        </li> -->
      </ul>


    
    </section>

    <footer class="article-footer">
     
    </footer>

  </article>

</section>