<section class="page-body">
    
  <article class="container page-article">

    <header class="article-header">
      <h1>All Promises</h1>
    </header>

    <section class="article-body">
      <div id="expired-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-expired-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-expired-promises">: Toggle expired promises</label>
        </div>
      </div>
      <div id="friend-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-friends-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-friends-promises">: Toggle friends promises</label>
        </div>
      </div>
      <div id="top-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-top-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-top-promises">: Promises with most bets</label>
        </div>
      </div>
      <hr>
      <div class="cards">
        
      </div>

    </section>

    <%= erb :'partials/pagination' %>

  </article>

</section>