<section class="page-body">
    
  <article class="container page-article">

    <section class="article-body">

      <header class="article-header">

        <div class="form">
          <form id="form-new-promise">
            <label for="promise-text"><p>I promise to:</p></label>
            <input type="text" id="promise-text" name="content" rows="4" placeholder="Your promise..."></input>
            <label for="promise-date"><p>by:</p></label>
            <input id="promise-date" type="datetime-local" name="expires_at">
            <input class="submit-button" type="submit" id="new-promise" value="Submit">
          </form>
        </div>

      </header>

      <header class="article-header">
        <h1> </h1>
      </header>

      <div id="expired-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-expired-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-expired-promises" id="expired">: Show Expired</label>
        </div>
      </div>
      <div id="friend-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-friends-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-friends-promises" id="friends">: Show Promises of Friends</label>
        </div>
      </div>
      <div id="top-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-top-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-top-promises" id="most-bets">: Show Promises with most Bets</label>
        </div>
      </div>
      <hr>
      <div class="cards">
        <%= erb :'/partials/promise_index' %>
      </div>

    </section>

    <%= erb :'partials/pagination' %>

  </article>

</section>