<section class="page-body">
    
  <article class="container page-article">

    <section class="article-body">

      <header class="article-header">
        <h1 class=''>New Promise</h1>
      </header>

      <div class="form">
        <%= erb :'partials/flash_message_error' %>
        <div class="promise-details">
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit ante augue, a auctor elit rutrum vel. Cras dapibus, libero.</p> -->
          <br>
          <form>
            <label for="promise-text"><h2>Promise:</h2></label><br>
            <textarea id="promise-text" name="content" rows="4" placeholder="Your promise..."></textarea>
            <label for="promise-date"><h2>Expiry Date:</h2></label><br>
            <input id="promise-date" type="datetime-local" name="expires_at">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id.</p> --><br>
            <input type="submit" id="new-promise" value="Submit">
          </form>
        </div>
      </div>

      <header class="article-header">
        <h1>All Promises</h1>
      </header>

      <div id="expired-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-expired-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-expired-promises" id="expired">: Show Expired</label>
        </div>
      </div>
      <div id="friend-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-friends-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-friends-promises" id="friends">: Show Promises of Friends</label>
        </div>
      </div>
      <div id="top-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-top-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-top-promises" id="most-bets">: Show Promises with most Bets</label>
        </div>
      </div>
      <hr>
      <div class="cards">
        <%= erb :'/partials/promise_index' %>
      </div>

    </section>

    <%= erb :'partials/pagination' %>

  </article>

</section>