<section class="page-body">
  <article class="container page-article">

    <header class="article-header">
      <h1>New Promise</h1>
    </header>

    <div class="form">
      <div class="promise-details">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit ante augue, a auctor elit rutrum vel. Cras dapibus, libero.</p>
        <br>
        <form method="post" action="/promises/new">
          <label for="promise-text"><h2>Promise:</h2></label><br>
          <textarea id="promise-text" name="content" rows="4" placeholder="Your promise.." value="<%= @promise.content %>"></textarea>
          <label for="promise-date"><h2>Expiry Date:</h2></label><br>
          <input id="promise_date" type="datetime-local" name="expires_at" value="<%= @promise.expires_at %>">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id.</p><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
      
  </article>
</section>